<table class="table">
  <tr>
    <th class="bg-dark text-white "> blocker </th>
    <th >
      <div class="onoffswitch">
        <input type="checkbox" name="forced" class="onoffswitch-checkbox" id="myonoffswitch"
        [checked]="!details.forced" (click)="ForcedIndicator(details)">
        <label class="onoffswitch-label" for="myonoffswitch">
          <span class="onoffswitch-inner"></span>
          <span class="onoffswitch-switch"></span>
        </label>
      </div>
    </th>
  </tr>
  <tr>
    <th class="bg-dark text-white"> Client </th>
    <th>{{ name.name }}</th>
  </tr>
  <tr>
    <th class="bg-dark text-white"> Type </th>
    <th>{{ details.typ }}</th>
  </tr>
  <tr>
    <th class="bg-dark text-white"> Statut </th>
    <th>{{ details.status }}</th>
  </tr>
  <tr>
    <th class="bg-dark text-white"> Label </th>
    <th>{{ details.label }}</th>
  </tr>
  </table>
  <table class="table">
  <tr class="bg-dark text-white text-center">
    <th>details</th>
  </tr>
  <tr class=" alert alert-{{ details.status }}">
    <th>
      <pre>{{ details.details }}</pre>
    </th>
  </tr>
</table>
