@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
.th-alert{
  background: red;
}
.th-warning{
  background: yellow;
}
.th-success{
  background: green;
}
